#index {
    background-color: $c_blue;
    margin: 0;
    font-family: sans-serif;
    .index-container {
        max-width: 500px;
        margin: 0 auto;
        border: 1px solid black;
        text-align: center;
    }
    .index_title {
        color: $c_white;
    }
    .card {
        background-color: $c_white;
        width: 90%;
        margin: 0 auto;
        border-radius: 20px;
        &_cover {
            width: 100%;
            border-radius: 20px 20px 0px 0px;
        }
        &-message {
            color: $c_black;
            padding: 20px;
            &_title {
                text-align: left;
                font-weight: bold;
            }
            .dashed-note {
                background-color: #fff; /* 背景色 */
                background-image: linear-gradient(90deg, transparent 0%, transparent 50%, #fff 50%, #fff 100%),
                    /* 点線1の色 */ linear-gradient(180deg, #ccc 1px, transparent 1px); /* 点線2の色と太さ */
                background-size: 8px 100%, /* 点線1のサイズ */ 100% 2.5em; /* 点線2のサイズ */
                line-height: 2.5em; /* 文字の高さ */
                padding-bottom: 1px; /* 最終行の下にも罫線を引く */
            }
            &_text {
                text-align: justify;
                text-justify: inter-ideograph;
            }
            &_date {
                text-align: right;
                margin: 0;
            }
            &_name {
                text-align: right;
                margin: 0;
            }
        }
    }
}
